[submodule "ros-rl/ros2learn"]
	path = ros-rl/ros2learn
	url = https://github.com/AcutronicRobotics/ros2learn.git
	branch = dashing
[submodule "ros-rl/gym-gazebo2"]
	path = ros-rl/gym-gazebo2
	url = https://github.com/AcutronicRobotics/gym-gazebo2
	branch = dashing
[submodule "ros-rl/MARA"]
	path = ros-rl/MARA
	url = https://github.com/AcutronicRobotics/MARA.git
[submodule "ros-docker/docker-ros-box"]
	path = ros-docker/docker-ros-box
	url = https://github.com/pierrekilly/docker-ros-box.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_robot_driver"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_robot_driver
	url = https://github.com/ros-industrial/abb_robot_driver.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_experimental"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_experimental
	url = https://github.com/ros-industrial/abb_experimental.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb
	url = https://github.com/ros-industrial/abb.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_driver"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_driver
	url = https://github.com/ros-industrial/abb_driver.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_egm_rws_managers"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_egm_rws_managers
	url = https://github.com/ros-industrial/abb_egm_rws_managers.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_librws"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_librws
	url = https://github.com/ros-industrial/abb_librws.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_libegm"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_libegm
	url = https://github.com/ros-industrial/abb_libegm.git
