[submodule "ros-rl/ros2learn"]
	path = ros-rl/ros2learn
	url = https://github.com/AcutronicRobotics/ros2learn.git
	branch = dashing
[submodule "ros-rl/gym-gazebo2"]
	path = ros-rl/gym-gazebo2
	url = https://github.com/AcutronicRobotics/gym-gazebo2
	branch = dashing
[submodule "ros-rl/MARA"]
	path = ros-rl/MARA
	url = https://github.com/AcutronicRobotics/MARA.git
[submodule "ros-docker/docker-ros-box"]
	path = ros-docker/docker-ros-box
	url = https://github.com/pierrekilly/docker-ros-box.git
[submodule "docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_robot_driver"]
	path = docker-ros/ros1-noetic_abb-egm/shared-volumes/abb_robot_driver
	url = https://github.com/ros-industrial/abb_robot_driver.git
